$dark-color     : #1D2734;
$dark-color-2   : #480095;
$main-color     : #AD1AC7;
$secondary-color: #FA2080;
$tertiary-color : #FF943F;
$itg-gradient   : linear-gradient(90deg, #AD1AC7 0.22%, #FA2080 43.67%, #FF943F 96.47%);