@import './partials/general';

.contacts__form {
  display       : flex;
  flex-direction: column;
  gap           : 15px;

  .Captcha {
    margin: 0 auto;
  }

  &::-webkit-scrollbar {
    opacity: 0;
  }

  @media screen and (min-width: $tablet) {
    height     : 616px;
    overflow   : auto;
    padding-top: 40px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop-small) {
    padding-top: 0;
  }

  .contact__form--container {
    display       : flex;
    flex-direction: row;
    margin        : 0 auto;
    position      : relative;
    gap           : 10px;

    @media screen and (min-width: $tablet) {
      gap: 30px;
    }

    .input__phone {
      input {
        width        : 134px;
        height       : 53px;
        border       : 1px solid #a4afba;
        border-radius: 8px;

        @media screen and (min-width: $tablet) {
          width: 236px;

          &::placeholder {
            font-family: 'Lato';
            font-style : normal;
            font-weight: 400;
            font-size  : 16px;
            line-height: 18px;
            color      : #a4afba;
            padding    : 0 10px;
          }
        }
      }
    }

    .dial-code {
      position: absolute;
      left    : 26.5%;
      z-index : 10;
      top     : 3.5%;

      @media screen and (min-width: $tablet) {
        left: 19%;
        top : 2px;
      }
    }

    .form-control {
      width        : 288px;
      height       : 56px;
      background   : #ffffff;
      border       : 1px solid #a4afba;
      border-radius: 8px;
      padding-left : 60px;
      font-family  : 'Lato';
      font-style   : normal;
      font-weight  : 400;
      font-size    : 16px;
      color        : #a4afba;

      @media screen and (min-width: $tablet) {
        width: 408px;
      }
    }

    .selected-flag {
      margin: 0 8px;

      .flag {
        transform: scale(1.6);
        padding  : 0 0 0 12px;
      }

      .arrow {
        display: none;
      }
    }
  }

  .input--file--text {
    font-family: 'Lato';
    font-style : normal;
    font-weight: 400;
    font-size  : 16px;
    line-height: 18px;
    color      : #a4afba;
    width      : 294px;
    margin     : auto auto auto 20px;
  }

  .contact-input {
    margin      : 0 auto;
    min-height  : 56px;
    font-size   : 17px;
    padding-left: 20px;

    &::placeholder {
      color    : #a4afba;
      font-size: 16px;
      margin   : 0 40px;
    }
  }

  .container__select--services {
    .select--services {
      width              : 288px;
      height             : 56px;
      background         : #ffffff;
      border             : 1px solid #a4afba;
      border-radius      : 8px;
      display            : flex;
      margin             : 0 auto;
      background-image   : url(../assets/img/Vector.png);
      background-repeat  : no-repeat;
      background-position: 25.75rem;
      -webkit-appearance : none;
      -moz-appearance    : none;
      -o-appearance      : none;
      appearance         : none;

      @media screen and (min-width: $tablet) {
        width              : 408px;
        background-position: 37.75rem;
      }
    }

    .select--services {
      font-family: 'Lato';
      font-style : normal;
      font-weight: 400;
      font-size  : 16px;
      line-height: 18px;
      color      : #8f99a4;
      padding    : 0 20px;
    }
  }

  .contact--textarea {
    width        : 288px;
    height       : 187px;
    background   : #ffffff;
    border       : 1px solid #a4afba;
    border-radius: 8px;
    margin       : 0 auto;
    padding      : 15px;
    color        : #a4afba;
    font-family  : 'Lato';
    font-style   : normal;
    font-weight  : 400;
    font-size    : 16px;

    &::placeholder {
      font-family: 'Lato';
      font-style : normal;
      font-weight: 400;
      font-size  : 16px;
      line-height: 18px;
      color      : #a4afba;
    }

    @media screen and (min-width: $tablet) {
      width     : 408px;
      min-height: 200px;
    }
  }

  .contact-send {
    padding      : 15px 10px 10px 8px;
    width        : 300px;
    background   : #ad1ac7;
    border       : transparent;
    border-radius: 8px;
    color        : #ffffff;
    margin       : 20px auto;
    font-size    : 14px;
    font-family  : 'Montserrat';
    cursor       : pointer;

    @media screen and (min-width: $desktop-small) {
      width: 100% !important;
    }

    @media screen and (min-width: $tablet) {
      width: 408px;
    }
  }

  .contact-send:disabled {
    cursor        : not-allowed;
    pointer-events: all !important;
  }
}

.isValid {
  border       : 1px solid #17ff17;
  border-radius: 10px;
}

.notValid {
  border       : 1px solid #ff0606;
  border-radius: 10px;
}

.PhoneInputInput {
  width        : 21.75rem;
  height       : 53px;
  font-size    : 16px;
  font-family  : 'Lato';
  border       : 1px solid #a4afba;
  border-radius: 0 8px 8px 0;
  flex         : none;
  color        : #a4afba;
  text-align   : center;

  @media screen and (min-width: $tablet) {
    width     : 33.75rem;
    text-align: inherit;
    padding   : 0 40px;
  }
}

.PhoneInputInput:focus-visible {
  outline: none;
}

.PhoneInputCountrySelect:focus+.PhoneInputCountryIcon--border {
  box-shadow: none;
}

.PhoneInputCountry {
  width        : 69px;
  height       : 53px;
  border       : 1px solid #a4afba;
  border-radius: 8px 0 0 8px;
  background   : white;
  margin-right : 0;
}

.PhoneInputCountrySelectArrow {
  display: none;
}

.PhoneInputCountryIcon {
  width        : 33.96px;
  height       : 24px;
  margin       : auto;
  box-shadow   : none;
  border-radius: 4px;
}

.container-check-box {
  display       : flex;
  gap           : 20px;
  flex-direction: column;
  margin        : 0 auto;
  width         : 300px;

  @media screen and (min-width: $desktop-small) {
    display       : flex;
    gap           : 20px;
    flex-direction: column;
    margin        : 0;
  }

  .data-of-policy {
    white-space: nowrap;
  }

  .checkbox-label {
    display      : inline-block;
    position     : relative;
    padding-left : 32px;
    margin-bottom: 10px;
    line-height  : 1.5;
    cursor       : pointer;
  }

  .checkbox-text {
    font-family: 'Lato', sans-serif;
    color      : #727d88;
    font-size  : 16px;
    font-weight: 400;

    a {
      text-decoration: none;
      border-bottom  : 1px solid #00b2ea;

      span {
        color      : #00b2ea !important;
        font-weight: 500;
      }
    }
  }

  .checkbox-custom {
    position        : absolute;
    left            : 0;
    top             : 2px;
    height          : 18px;
    width           : 18px;
    background-color: #fff;
    border          : 2px solid #ccc;
    border-radius   : 3px;
    opacity         : 1;
  }

  .checkbox-label:hover .checkbox-custom {
    border-color: #00b2ea;
  }

  .checkbox-label input[type='checkbox']:checked+.checkbox-custom {
    border-color: #00b2ea;
  }

  .checkbox-custom:before {
    content : url('../assets/img/tick.svg');
    position: absolute;
    display : none;
    left    : -1px;
    top     : -3px;
  }

  .checkbox-label input[type='checkbox']:checked+.checkbox-custom:before {
    display: block;
  }

  .checkbox-label input[type='checkbox'] {
    opacity : 0;
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 18px;
    height  : 18px;
    margin  : 0;
    z-index : -1;
    cursor  : pointer;
  }
}