@import "./partials/general";
@import "./partials/mixins";

.policy-Big {
	height  : 140vh;
	overflow: scroll;
	margin-top: 30px;
	

	&::-webkit-scrollbar {
		opacity: 0;
	}
}

.policyTitle {
	margin-top    : 40px;
	font-family   : 'Montserrat';
	font-style    : normal;
	font-weight   : 700;
	font-size     : 20px;
	line-height   : 24px;
	letter-spacing: 0.15px;
	color         : #1D2734;

	@media screen and (min-width: $desktop-large) {
		margin-top: 90px;
	}
}

.policySelectTitle {
	font-family   : 'Montserrat';
	font-style    : normal;
	font-weight   : 600;
	font-size     : 18px;
	line-height   : 22px;
	letter-spacing: 0.15px;
	color         : #1D2734;
	margin-left   : -18px;
}

.policySelectSubTitle {
	font-family   : 'Montserrat';
	font-style    : normal;
	font-weight   : 500;
	font-size     : 16px;
	line-height   : 20px;
	letter-spacing: 0.15px;

	color: #1D2734;
}

.policySelectBody {
	font-family   : 'Lato';
	font-style    : normal;
	font-weight   : 400;
	font-size     : 16px;
	line-height   : 19px;
	letter-spacing: 0.01em;

	color: #5A6067;
}

.policyContainer {
	display       : flex;
	align-items   : flex-start;
	flex-direction: column;
	margin        : 30px;
	@media screen and (min-width: calc($tablet - 1px) ) and (min-height: 900px){
		min-height : 7400px !important;
	}
	@media screen and (min-width: calc($tablet + 100px) ) and (min-height: 900px){
		min-height : 6900px !important;
	}
	@media screen and (min-width:$desktop-small) and (min-height: 900px){
		min-height : 6400px !important;
	}
	@media screen and (min-width:$desktop-small) {
		min-height : 5700px;
	}
	@media screen and (min-width:$desktop-large) and (min-height: 900px) {
		margin-left: 610px;
		// min-height : 7200px;
	}

	@media screen and (min-width:$wide-screen) and (min-height: 900px) {
		margin-left: 610px;
		min-height : 5000px;
	}
	// @media screen and (min-width: 1850px) {
	// 	margin-left: 610px;
	// 	min-height : 5800px;
	// }
	// @media screen and (min-width: 2000px) {
	// 	margin-left: 610px;
	// 	min-height : 5000px;
	// }
}

.policyContent {
	display: flex
}

.policyMenuContDesktop {
	display: none;

	@media screen and (min-width:$desktop-large) {
		display       : flex;
		padding-left  : 30px;
		position      : absolute;
		flex-direction: column;
		margin-top    : 100px;
		max-width     : 460px;
		gap           : 10px;
	}
}

.policyMenuContMobile {
	position      : fixed;
	bottom        : 40px;
	left          : 0;
	right         : -350px;
	display       : flex;
	flex-direction: column-reverse;
	align-items   : center;
	@media screen and (min-width:320px) {
		right         : -180px;
	}
	@media screen and (min-width:450px) {
		right         : -220px;
	}
	@media screen and (min-width:550px) {
		right         : -260px;
	}
	@media screen and (min-width:650px) {
		right         : -310px;
	}
	@media screen and (min-width:$tablet) {
		right         : -350px;
	}
	@media screen and (min-width:$desktop-small) {
		right         : -550px;
		bottom				: 40px
	}

	@media screen and (min-width:$desktop-large) {
		display: none !important;
	}
}
.policyMenuMobileFinal{
	@extend .policyMenuContMobile;
	bottom: 40px
}

.policyMenuOption {
	border-radius  : 4px;
	text-decoration: none;
	font-family    : 'Montserrat';
	font-style     : normal;
	font-weight    : 500;
	font-size      : 10px;
	letter-spacing : 0.15px;
	border         : #1D2734 1px solid;
	color          : #1D2734;
	padding        : 0 20px;
	height         : 50px;
	display        : flex;
	align-items    : center;
}

.policyMenuOption.active {
	background: rgba(72, 0, 149, 0.15);
	color     : #480095;
	border    : none
}

.dropdown-button {
	background     : #E4D9EF;
	box-shadow     : 0px 4px 20px rgba(29, 39, 52, 0.15);
	border-radius  : 4px;
	width          : 350px;
	height         : 48px;
	display        : flex;
	flex-direction : row;
	justify-content: center;
	align-items    : center;
	@media screen and (min-width :320px) {
		width          : 150px;
	}
	@media screen and (min-width:450px) {
		width         : 200px;
	}
	@media screen and (min-width:550px) {
		width         : 250px;
	}
	@media screen and (min-width:650px) {
		width         : 300px;
	}
	@media screen and (min-width:$tablet) {
		width         : 350px;
	}
	
}


.policyList {
	width         : 350px;
	height        : 351px;
	background    : #FFFFFF;
	border-radius : 4px;
	list-style    : none;
	padding       : 20px;
	display       : flex;
	overflow      : scroll;
	flex-direction: column;
	gap           : 15px;
	@media screen and (min-width : 320px) {
		width          : 150px;
	}
	@media screen and (min-width : 450px) {
		width         : 200px;
	}
	@media screen and (min-width : 550px) {
		width         : 250px;
	}
	@media screen and (min-width:650px) {
		width         : 300px;
	}
	@media screen and (min-width:$tablet) {
		width         : 350px;
	}

	&::-webkit-scrollbar {
		opacity: 0;
	}
}

.policyListOptions {
	border-radius  : 4px;
	text-decoration: none;
	font-family    : "Montserrat";
	font-style     : normal;
	font-weight    : 500;
	font-size      : 13px;
	line-height    : 20px;
	letter-spacing : 0.15px;
	border         : #1D2734 1px solid;
	color          : #1D2734;
	padding        : 0 20px;
	height         : auto;
	@media screen and (min-width :320px) {
		padding: 0;
		font-size: 10px;
		letter-spacing: -0.85px;
	}
	@media screen and (min-width:450px) {
		font-size: 11px;
	}
	@media screen and (min-width:550px) {
		font-size: 12px;
		letter-spacing: 0;
	}
	@media screen and (min-width:650px) {
		padding: 0 10px;
		font-size: 13px;
		letter-spacing: 0.15px;
	}
	& a {
		text-decoration: none;
	}
}

.translateCont{
	& .selection_languaje{
		top: 60px
	}
}