@import './partials/general';

.work-bigCont {
	display       : flex;
	flex-direction: column;
	gap           : 80px;
}

.work-ImgCont {
	position  : relative;
	margin-top: 88px;

	@media screen and (min-width: $tablet) {
		margin-top: 140px;
	}

	@media screen and (min-width: $desktop-small) {
		margin-top: 110px;
	}
}

.work-ShadowImg,
.work-FullImg {
	@media screen and (min-width: $tablet) {
		top   : 0;
		left  : 0;
		right : 0;
		bottom: 0;
	}

	position: absolute;
}

.work-TextImg {
	@media screen and (min-width: $desktop-small) {
		width : 654px;
		height: 232px;
		left  : 217px !important;
		top   : 100px !important;
	}

	@media screen and (min-width: $tablet) {
		width : 650px;
		height: 232px;
		left  : 60px;
		top   : 20px;
	}

	top     : 30px;
	left    : 0px;
	width   : 355px;
	height  : 155px;
	position: absolute;
}

.work-ShadowImg,
.work-TextImg {
	z-index: 10;
}

.work-FormCont {
	@media screen and (min-width: $desktop-small) {
		margin-top: 380px !important;
	}

	@media screen and (min-width: $tablet) {
		margin-top: 230px;
	}

	@media screen and (min-width: 440px) and (max-width: calc($tablet - 1px)) {
		margin-top: 385px;
	}

	@media screen and (min-width: 1376px) and (max-width: calc($wide-screen - 1px)) {
		margin-top: 420px !important;
	}

	@media screen and (min-width: $wide-screen) {
		margin-top: 30% !important;
	}

	margin-top     : 180px;
	display        : flex;
	justify-content: center;
	flex-direction : column;

	& .contact-input {
		border-radius: 8px;
		min-height   : 56px;
		font-size    : 17px;
		padding-left : 20px;
		box-sizing   : border-box;
		background   : #FFFFFF;
		border       : 1px solid #A4AFBA;
		font-family  : 'Lato';
		font-style   : normal;
		font-weight  : 400;
		line-height  : 18px;
		width        : 345px;
		color        : #8F99A4;

		&::placeholder {
			color    : #A4AFBA;
			font-size: 16px;
			margin   : 0 40px;
		}

		@media screen and (min-width: $tablet) {
			width: 350px;
		}

		@media screen and (min-width: $desktop-small) {
			width: 408px;
		}
	}

	& .container__input--file {
		width        : 350px;
		margin       : auto;
		height       : 56px;
		left         : 1px;
		top          : 480px;
		background   : #FFFFFF;
		border       : 1px solid #A4AFBA;
		border-radius: 8px;
		display      : flex;

		@media screen and (min-width: $desktop-small) {
			width: 355px;
		}

		@media screen and (min-width: $desktop-small) {
			width: 408px;
		}

		.input__file--chargedPlaceholder {
			display        : flex;
			width          : 90%;
			justify-content: flex-start;
			gap            : 20px;
			margin-left    : 10px;

			p {
				overflow : hidden;
				max-width: 145px;

				@media screen and (min-width: $tablet) {
					max-width: 250px;
				}
			}
		}
	}

	& .custom-file-upload {
		display         : inline-block;
		padding         : 8px 12px;
		margin          : 4px;
		cursor          : pointer;
		border          : 1px solid #ccc;
		border-radius   : 4px;
		background-color: #E2E3E5;
		color           : #333;
		font-size       : 16px;
		font-weight     : bold;
		text-align      : center;


		@media screen and (max-width: $desktop-small) {
			padding: 12px 12px;
		}
	}

	& .custom-file-upload:hover {
		background-color: #e6e6e6;
	}

	& input[type="file"] {
		display: none;
	}

	& .input--file--text {
		font-family: 'Lato';
		font-style : normal;
		font-weight: 400;
		font-size  : 16px;
		line-height: 18px;
		color      : #A4AFBA;
		width      : 294px;
		margin     : auto auto auto 20px;
	}

	& .dial-code {
		position: absolute;
		left    : 26.5%;
		z-index : 10;
		top     : 3.5%;

		@media screen and (min-width: $tablet) {
			left: 19%;
			top : 2px;
		}
	}

	& .contact__form--container {
		display       : flex;
		flex-direction: row;
		position      : relative;
		gap           : 10px;

		@media screen and (min-width: $tablet) {
			gap: 30px;
		}

		& .PhoneInputInput {
			width: 27.75rem;

			@media screen and (min-width: $desktop-small) {
				width: 33.75rem;
			}
		}
	}

	& .PhoneInput {
		display    : flex;
		align-items: baseline;
	}

	& .workWithUS__textarea {
		width        : 350px;
		height       : 187px;
		background   : #FFFFFF;
		border       : 1px solid #A4AFBA;
		border-radius: 8px;
		margin       : 0 auto;
		padding      : 15px;
		color        : #A4AFBA;
		font-family  : "Lato";
		font-style   : normal;
		font-weight  : 400;
		font-size    : 16px;

		&::placeholder {
			font-family: 'Lato';
			font-style : normal;
			font-weight: 400;
			font-size  : 16px;
			line-height: 18px;
			color      : #A4AFBA;
		}

		@media screen and (min-width: $tablet) {
			width     : 730px;
			min-height: 200px;
		}

		@media screen and (min-width: $desktop-small) {
			width     : 835px;
			min-height: 200px;
		}

	}

	& .contact-send {
		padding      : 15px 10px 10px 8px;
		width        : 345px;
		background   : #AD1AC7;
		border       : transparent;
		border-radius: 8px;
		color        : #FFFFFF;
		margin       : 10px auto;
		font-size    : 14px;
		font-family  : 'Montserrat';
		cursor       : pointer;

		@media screen and (min-width: $tablet) {
			width: 408px;

		}
	}

	.contact-send:disabled {
		cursor        : not-allowed;
		pointer-events: all !important;
	}
}

.work-FirstRowCont {
	display       : flex;
	flex-direction: column;
	margin-bottom : 30px;
	gap           : 20px;
	align-items   : center;

	@media screen and (min-width: $tablet) {
		gap            : 20px;
		margin         : 0 20px;
		margin-bottom  : 30px;
		justify-content: center;
		flex-direction : row;
	}
}

.work-SecondRowCont {
	display       : flex;
	flex-direction: column;
	margin-bottom : 30px;
	gap           : 20px;
	align-items   : center;

	@media screen and (min-width: $tablet) {
		margin         : 0 20px;
		margin-bottom  : 30px;
		justify-content: center;
		flex-direction : row;
	}

	@media screen and (min-width: $desktop-small) {
		margin-bottom  : 30px;
		justify-content: center;
		flex-direction : row;
	}
}

.work-TextArea {
	display        : flex;
	justify-content: center;
	margin-bottom  : 30px;
}

.work-CheckBox {
	display        : flex;
	justify-content: center;
	margin-bottom  : 30px;

	.data-of-policy {
		max-width  : 370px;
		margin-left: 22px;

		@media screen and (min-width: $tablet) {
			white-space: nowrap;
		}

	}
}

.captcha {
	margin: 0 auto;
}